a{
    text-decoration: none;
    color: inherit;
    color: #717171;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    columns: #0A0A0A;
}

.header{
    line-height: 29px;
    font-size: 24px;
    background-color: #02292f; 
    padding: 10px;
    width: 100%;
    top:0px;
    position: fixed;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone{
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.menu-item{
    padding-right: 30px;
}


.section1{
    background-color: #F5F5F5;
    text-align: center;
    padding: 70px 0 40px;
}

.title{
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #02292f;
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
}

.section1-img{
    margin-bottom: 25px;
}

.section1-btn{
    display: inline-block;
    line-height: 29px;
    font-size: 24px;
    font-weight: 700; 
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#02292f;
    padding: 22px 117px 19px;
    border-radius: 30px;

}

.new{
    padding: 90px 0 150px;
}

.new-title,
 .color-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.new-info{
    display: flex;
    align-items: center;
}

.mew-text p{
    max-width: 560px;
    padding: 0 0 30px;
}

.mew-text b{
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}

.image-new{
    margin-left: 190px;  
}

.section-color{
    padding-bottom: 150px;
}

.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img{
    margin-bottom: 20px;
}

.color-item h3{

    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 0 0 10px;
}

.color-item p{
    margin: 0;
}

.contacts-inner{
    display: flex;
    background-color: #574B63;
    color: #fff;
}

.contacts-form{
    width: 100%;
    padding: 140px 93px;
    text-align: center;
}

.contacts-title{
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align-last: center;
}

.contacts-input{
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}

.contacts-input::placeholder{
    font-size: 14px;
    line-height: 18;
    color: #fff;
    opacity:.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts-form p{
    margin: 30px 0;
    text-align: center;
}

.contacts-form button{
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background-color: #fff;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    cursor: pointer;

}

.footer{
    background-color: #000;
}

.footer-inner{
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  
}

#amount {
    position:fixed;
    border: 1px solid #0A0A0A;
}

.shop-img {
    height: 100px;
}

.footer-link{
    flex-basis: 0;
    flex-grow: 1;
}

.menu-button{
    display: none;
}

#btn-cart {
    background-color: transparent;
    border: none;
    margin-right:25px;
}


#count-ico {
    position: fixed;
    color:#ccc;
    background-color: #c41414;
    padding:5px 10px;
    border-radius: 35px;
    font-size: 15px;
    margin-left: -15px;;
}

.counts {
    background-color: #DBDBDB;
    display: flex;
    justify-content: space-around;
    margin:10px
}

.fa-plus, .counts span, .fa-minus {
    font-size: 20px;
}

.fa-cart-shopping {
    font-size:35px;
}

.cart-wrapper {
    background-color: #F5F5F5;
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.cart-wrapper div p {
    margin: 5px;
}

#preload {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #71c2cc;
    top:0;
    z-index: 100;
}

.hide-preload {
    animation: hidePreloader 2s;
}

.hidden-preload {
    display: none;
}

html {
    scroll-behavior: smooth;
}

#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1200px){
    .section1-img{
        max-width: 100%;
    }
    .contacts-inner{
        display: grid;
    }
    .contacts-form{
        width: auto;
    }
    .mew-text p,
    .mew-text b{
    max-width: 100%;
    }
    .contacts-title{
        align-items: center;
        display: inline-block;
    }
    .contacts-img{
        width: 100%;
    }
    .contacts{
        background-color: #574B63;
    }
}

@media(max-width: 1100px){
    .color-list{
        flex-wrap: wrap;
    }
}

@media(max-width: 1540px) {
    #amount {
        right:10px
    }
}

@media(max-width: 940px){
    .image-new{
        display: none;   
    }
    
    .menu{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #0A0A0A;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-320%);
        transition: .3s ease;
        z-index:60;
    }
    
    .menu-open .menu{
        transform: translateY(200%);
    }
    
    .menu-item{
        padding: 50px 0;
        font-size: 55px;
        background: #ccc;
        display: flex;
        justify-content: center;
        z-index: 60;
        width:100%;
    }

    .menu-button{
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline-block;
        order: 1;
        position: relative;
        z-index: 70;
        margin-right: 20px;
    }
    
    .logo-img,
    .phone{
        position: relative;
        z-index: 50;
    }

    .button-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;

    }
    
    .button-line:nth-child(1){
        top: 0;
    }
    .button-line:nth-child(2){
        top: 20px;
    }
    .button-line:nth-child(3){
        top: 20px;
    }
    .button-line:nth-child(4){
        top: 40px;
    }
    .menu-open .button-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .button-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .button-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .button-line:nth-child(4){
        transform: scaleX(0);
    }
    }
    .phone{
        text-align: center;
    }

@media(max-width: 768px){
    .section1,
    .new{
        padding: 50px 0;
    }
    .section-color{
        padding-bottom: 50px;
    }
    .contacts-form{
        padding: 50px 70px;
        display: inline-block;
        text-align: center;
    }
    .color-item{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 640px){
    .footer-inner{
        padding: 20px 0;
        flex-direction: column;
    }
    .footer-inner .logo-img{
        margin: 15px 0;;
    }
}

@media (max-width: 560px){
    .title{
        font-size: 34px;
        line-height: 42px;
    }
    .contacts-title
    .color-item, .color-item img{
        width: 100%;
    }
    .new-title, .color-title {
        font-size: 28px;
        line-height: 32px;
    }
    .section1-btn{
    line-height: 22px;
    font-size: 18px;
    padding: 16px 90px;
    }
    .contacts-form{
        padding: 50px 30px;
    }
    .color-item{
        width: 100%;
        margin-bottom: 30px;
    }
    .counts {
        margin: 0px;
    }
    .fa-plus, .counts span, .fa-minus {
        background: #555;
        width: 50px;
        height: 30px;
        padding: 10px 0px;
    }
}

@media(max-width: 420px){
    .phone{
        flex-basis: auto;
        margin-top: 45px;
        display: none;
        
    }
    
    .menu-button {
        margin-right: 20px;
    }
    .menu-item{
        font-size: 30px;
    }

    .menu-open .menu {
        transform: translateY(200%);
    }
    
    .nav{
        flex-wrap: wrap;
    }
}

@media(max-width: 375px){
    .contacts-form{
        padding: 50px 10px;
    }
}